body {
  margin: 0;
  padding: 0;
  font-family: Almarai;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}

.cyan_A400_indigo_600_border {
  border-image: linear-gradient(131deg, #00d1ff, #5f66e9, #2d6591) 1;
}
